.App {
  text-align: center;
  max-width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: salmon;
  color: wheat;
}
.nav-links {
  min-width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
