.search-group {
  background: rgba(250, 128, 114, 0.384);

  align-items: center;
  min-height: 10vh;
  color: rgba(124, 124, 124, 0.836);
}

a.link-element:hover {
  text-decoration: none;
  color: rgba(250, 128, 114, 0.822);
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: normal;
}
