.MyFavorites {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: wheat;
  margin: auto;
}
.my-fav-item {
  justify-content: space-around;
  align-items: center;
  min-height: 50;
  width: 250px;
  height: 40px;
  margin: auto;
}
